@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Rubik+Mono+One&family=Ultra&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f8f8f8;
  position: relative;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Ultra", serif;
  font-weight: 400;
  font-style: normal;
  color: #1C4E34;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-left: 20px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #1C4E34;
  margin: 4px 0;
  transition: 0.3s;
}

/* Styles for menu */
.menu {
  display: flex;
  align-items: center;
}

.links {
  font-family: "Hammersmith One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #1C4E34;
  margin-right: 30px;
  font-size: 25px;
  text-decoration: none;
}

.logout-btn {
  height: 40px;
  width: 80px;
  font-family: "Hammersmith One", sans-serif;
  font-size: 17px;
  color: #BFC3BD;
  background-color: white;
  border: 2px solid #BFC3BD;
  border-radius: 5px;
  outline: none;
  transition: background-color 0.5s, color 0.5s;
}

.logout-btn:hover {
  background-color: #1C4E34;
  color: white;
  border: none;
  cursor: pointer;
}

.logout-btn:active {
  opacity: 0.75;
}

/* Responsive Design */
@media (max-width: 768px) {
  .logo {
    font-size: 20px;
    margin-left: 15px;  
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #f8f8f8;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }

  .menu.open {
    display: flex;
  }

  .links {
    margin: 10px 0;
    font-size: 20px;
  }

  .logout-btn {
    margin-top: 20px;
  }

  .hamburger {
    display: flex;
  }

  .logo-center{
    display: flex;
    justify-content: space-around;
  }
}
